# VSCode files
.vscode/

# Python cache
__pycache__/

# Logs
logs/
*.log

# Arhives
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.7z
*.rar
*.7z
*.iso
*.dmg
*.pkg
*.deb
*.rpm
*.jar

# Datasets
datasets/
*.csv

# Any images except ANN architecture
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
!visualizations/
!visualizations/nn_architecture.png
